{% extends "base.html" %}
{% block content %}
<h1>{{ title }} <small>{{ instance.timestamp }}</small></h1>
  {% if instance.image %}
  <img src="{{ instance.image.url }}" alt="" class="img-responsive">
  {% endif %}
<div class="row">



  <div class="col-sm-8">
    <div class="thumbnail">
      <div class="caption">
        <p>{{ instance.content|linebreaks }}</p>
        <p><a href="{{ instance.get_edit_url }}" class="btn btn-primary" role="button">Edit</a></p>
        <p><a href="{{ instance.post_delete }}" class="btn btn-primary" role="button">Delete</a></p>
      </div>
    </div>
  </div>



<br>

</div>


<!-- <a href="{{ instance.get_edit_url }}" type="submit" name="edit"><button type="button" name="button">Edit</button></a>
<a href="{{ instance.post_delete }}" type="submit" name="edit"><button type="button" name="button">Delete</button></a> -->
</div>

{% endblock content %}
